/ML_TDF_participants_added_features_without_year_splitting.ipynb
/ML_TDF_participants_without_year_splitting.ipynb
/notebooks/*.csv
/data/created_files/

# Python virtual environment
venv/
*.venv
env/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

